In [2]:
#  Apply Custom Function on a Column
# Use Case: Convert names to uppercase.

import pandas as pd

df = pd.DataFrame({'Name': ['alice', 'bob', 'charlie']})
print(df)
print()

def to_upper(name):
    return name.upper()
df['Name']  = df['Name'].apply(to_upper)    
print(df)

      Name
0    alice
1      bob
2  charlie

      Name
0    ALICE
1      BOB
2  CHARLIE

In [7]:
''' ðŸ“Œ 2. Apply Custom Function on Multiple Columns (Row-wise)
Use Case: Calculate Full Name
'''

df = pd.DataFrame({
    'First': ['John', 'Jane'],
    'Last': ['Doe', 'Smith']
})
print(df)
print()

def full_name(row):
    return row['First']+' '+ row['Last']
df['Full_Name'] = df.apply(full_name, axis = 1)
print(df)

  First   Last
0  John    Doe
1  Jane  Smith

  First   Last   Full_Name
0  John    Doe    John Doe
1  Jane  Smith  Jane Smith

In [11]:
'''
ðŸ“Œ 3. Categorize Based on Values
Use Case: Label score into Pass/Fail
'''
df = pd.DataFrame({'Name': ['A', 'B', 'C'], 'Score': [45, 80, 60]})
print(df)
print()

def pass_fail(check):
    return 'Pass' if check> 50 else 'Fail'
df['Pass_Fail'] = df['Score'].apply(pass_fail)
print(df)

  Name  Score
0    A     45
1    B     80
2    C     60

  Name  Score Pass_Fail
0    A     45      Fail
1    B     80      Pass
2    C     60      Pass

In [18]:
'''
ðŸ“Œ 4. Apply Function with Condition Based on Another Column
Use Case: Add bonus only if department is â€˜Salesâ€™
'''
df = pd.DataFrame({
    'Employee': ['Tom', 'Jerry', 'Mickey'],
    'Dept': ['Sales', 'HR', 'Sales'],
    'Salary': [50000, 45000, 55000]
})
print(df)
print()

def add_bonus(row):
    if row['Dept'] == 'Sales':
        return row['Salary']+2000
    return row['Salary']

df['New_Salary'] = df.apply(add_bonus, axis = 1)
print(df)

  Employee   Dept  Salary
0      Tom  Sales   50000
1    Jerry     HR   45000
2   Mickey  Sales   55000

  Employee   Dept  Salary  New_Salary
0      Tom  Sales   50000       52000
1    Jerry     HR   45000       45000
2   Mickey  Sales   55000       57000

In [21]:
''' Use Lambda with apply() (Quick Custom Logic)
Use Case: Square the values'''

df = pd.DataFrame({'Numbers': [2, 3, 4]})
df['Squared'] = df['Numbers'].apply(lambda x: x**2)
print(df)

   Numbers  Squared
0        2        4
1        3        9
2        4       16

In [25]:
'''
 Datetime Column Transformation
Use Case: Extract weekday from date
'''
df = pd.DataFrame({'Date': pd.to_datetime(['2024-01-01', '2024-01-02'])})
df['Weekday'] = df['Date'].apply(lambda x: x.strftime('%A'))
print(df)

#df['Weekday'] = df['Date'].apply(lambda x: x.strftime('%A'))

        Date  Weekday
0 2024-01-01   Monday
1 2024-01-02  Tuesday

In [ ]:
# you need to practice these all things
'''
Code | Meaning | Example
%d | Day of the month (01â€“31) | 18
%m | Month (01â€“12) | 04
%b | Month name (short) | Apr
%B | Month name (full) | April
%y | Year (2 digits) | 25
%Y | Year (4 digits) | 2025
%a | Weekday name (short) | Fri
%A | Weekday name (full) | Friday
%w | Weekday as number (0=Sun) | 5
%j | Day of the year (001â€“366) | 108

Code | Meaning | Example
%H | Hour (24-hour clock) | 14
%I | Hour (12-hour clock) | 02
%p | AM or PM | PM
%M | Minute | 45
%S | Second | 30


Code | Meaning | Example
%c | Full date & time | Fri Apr 18 14:45:30 2025
%x | Date (local format) | 04/18/25
%X | Time (local format) | 14:45:30
'''