In [1]:
import pandas as pd
file_path = r"C:\Users\Sivaraman\Desktop\study\data analytics\Data (for practice)\bank_details_withdate.xlsx"
df = pd.read_excel(file_path)
print(df)

     CustomerId        Name  CreditScore  Country  Gender  Age  Tenure  \
0      15634602    Hargrave          619   France  Female   42       2
1      15634602    Hargrave          619   France  Female   42       2
2      15634602        Onio          502   France  Female   42       8
3      15634602        Onio          502   France  Female   42       8
4      15737888    Mitchell          850    Spain  Female   43       2
..          ...         ...          ...      ...     ...  ...     ...
448    15694860    Uspensky          675   France  Female   38       6
449    15658169        Cook          778    Spain  Female   47       6
450    15794396     Newbold          494  Germany  Female   38       7
451    15785798  Uchechukwu          850   France    Male   40       9
452    15710825       Ch'en          592    Spain    Male   31       7

       Balance  NumOfProducts     Salary       Date      Dep
0         0.00              1  101348.88 2023-01-01     Bank
1         0.00              1  101348.88 2023-01-02     Bank
2    159660.80              3  112542.58 2023-01-03     Bank
3    159660.80              3  112542.58 2023-01-04     Bank
4    125510.82              1   79084.10 2023-01-05     Bank
..         ...            ...        ...        ...      ...
448   68065.80              1  138777.00 2025-01-31  Entrepr
449  127299.34              2  124694.99 2025-01-31  Entrepr
450  174937.64              1   40084.32 2025-01-31  Entrepr
451       0.00              2  119232.33 2025-01-31  Entrepr
452  110071.10              1   43921.36 2025-01-31  Entrepr

[453 rows x 12 columns]

In [3]:
# Combining Name and Country
df['Name-Country'] = df['Name'] +"-"+df['Country']
print(df[['Name','Country','Name-Country']])

           Name  Country       Name-Country
0      Hargrave   France    Hargrave-France
1      Hargrave   France    Hargrave-France
2          Onio   France        Onio-France
3          Onio   France        Onio-France
4      Mitchell    Spain     Mitchell-Spain
..          ...      ...                ...
448    Uspensky   France    Uspensky-France
449        Cook    Spain         Cook-Spain
450     Newbold  Germany    Newbold-Germany
451  Uchechukwu   France  Uchechukwu-France
452       Ch'en    Spain        Ch'en-Spain

[453 rows x 3 columns]

In [4]:
# Combining Name and Country, same thing but diffrent way
df['Name_Country'] = df['Name'].str.cat(df['Country'], sep = '-')
print(df['Name_Country'])

0        Hargrave-France
1        Hargrave-France
2            Onio-France
3            Onio-France
4         Mitchell-Spain
             ...
448      Uspensky-France
449           Cook-Spain
450      Newbold-Germany
451    Uchechukwu-France
452          Ch'en-Spain
Name: Name_Country, Length: 453, dtype: object

In [6]:
df['Name_Country'] = df['Name'].str.cat(df['Country'], sep = '-', na_rep = 'Unknown') # na_rep is used to handle missing value.
print(df['Name_Country'])

0        Hargrave-France
1        Hargrave-France
2            Onio-France
3            Onio-France
4         Mitchell-Spain
             ...
448      Uspensky-France
449           Cook-Spain
450      Newbold-Germany
451    Uchechukwu-France
452          Ch'en-Spain
Name: Name_Country, Length: 453, dtype: object

In [19]:
#Using apply() with lambda Function
df['CustomerInfo'] = df.apply(lambda x: f"{x['Name']} ({x['Country']}) - {x['Age']} years", axis = 1)
print(df['CustomerInfo'])

0        Hargrave (France) - 42 years
1        Hargrave (France) - 42 years
2            Onio (France) - 42 years
3            Onio (France) - 42 years
4         Mitchell (Spain) - 43 years
                    ...
448      Uspensky (France) - 38 years
449           Cook (Spain) - 47 years
450      Newbold (Germany) - 38 years
451    Uchechukwu (France) - 40 years
452          Ch'en (Spain) - 31 years
Name: CustomerInfo, Length: 453, dtype: object

In [29]:
#Using agg() for Multiple Columns
#agg() is useful for custom join operations.

df['Combined'] = df[['Name', 'Country', 'Gender']].agg('|'.join, axis = 1)
print(df['Combined'])
print()
df['Combined2'] = df[['Name','Country','Age']].astype(str).agg('|'.join, axis = 1)
print(df['Combined2'])

0      Hargrave|France|Female
1      Hargrave|France|Female
2          Onio|France|Female
3          Onio|France|Female
4       Mitchell|Spain|Female
                ...
448    Uspensky|France|Female
449         Cook|Spain|Female
450    Newbold|Germany|Female
451    Uchechukwu|France|Male
452          Ch'en|Spain|Male
Name: Combined, Length: 453, dtype: object

0        Hargrave|France|42
1        Hargrave|France|42
2            Onio|France|42
3            Onio|France|42
4         Mitchell|Spain|43
               ...
448      Uspensky|France|38
449           Cook|Spain|47
450      Newbold|Germany|38
451    Uchechukwu|France|40
452          Ch'en|Spain|31
Name: Combined2, Length: 453, dtype: object

In [31]:
 #Using map() and join()
#If all columns are strings, join() can be a neat solution
'''df["Combined"] = df[["Name", "Country", "Gender"]].astype(str).apply(lambda x: " | ".join(x), axis=1)
'''
df['Combined3'] = df[['Name','Age','Country']].astype(str).apply(lambda x: "|".join(x), axis = 1)
print(df['Combined3'])

0        Hargrave|42|France
1        Hargrave|42|France
2            Onio|42|France
3            Onio|42|France
4         Mitchell|43|Spain
               ...
448      Uspensky|38|France
449           Cook|47|Spain
450      Newbold|38|Germany
451    Uchechukwu|40|France
452          Ch'en|31|Spain
Name: Combined3, Length: 453, dtype: object

In [32]:
#Using astype(str) for Non-String Columns
df['Details'] = df['CustomerId'].astype(str)+ '|' + df['Name']+ '|' + df['Age'].astype(str) + '|'+ df['Country']
print(df['Details'])

0        15634602|Hargrave|42|France
1        15634602|Hargrave|42|France
2            15634602|Onio|42|France
3            15634602|Onio|42|France
4         15737888|Mitchell|43|Spain
                   ...
448      15694860|Uspensky|38|France
449           15658169|Cook|47|Spain
450      15794396|Newbold|38|Germany
451    15785798|Uchechukwu|40|France
452          15710825|Ch'en|31|Spain
Name: Details, Length: 453, dtype: object

In [40]:
# Combining Columns with Conditions
#Useful when merging data conditionally.
print('Conditional:this codition depond on creaditscore')
'''df["Name_Conditional"] = df.apply(lambda x: x["Name"] if x["CreditScore"] > 600 else "Low Credit", axis=1)
'''
df['Name_Conditional'] = df.apply(lambda x: x['Name'] if x['CreditScore'] > 600 else "Low CreditScore",axis = 1)
print(df['Name_Conditional'])

print()
print('Conditional:this guys getting salary above 1L')

df['Name_Conditional'] = df.apply(lambda x:x['Name'] if x['Salary'] > 100000 else 'Low Salary', axis = 1)
print(df['Name_Conditional'])

0             Hargrave
1             Hargrave
2      Low CreditScore
3      Low CreditScore
4             Mitchell
            ...
448           Uspensky
449               Cook
450    Low CreditScore
451         Uchechukwu
452    Low CreditScore
Name: Name_Conditional, Length: 453, dtype: object

Conditional:this guys getting salary above 1L
0        Hargrave
1        Hargrave
2            Onio
3            Onio
4      Low Salary
          ...
448      Uspensky
449          Cook
450    Low Salary
451    Uchechukwu
452    Low Salary
Name: Name_Conditional, Length: 453, dtype: object

In [47]:
#Creating a Unique ID
#Sometimes, you may need a composite unique key.
df['Unique'] = df['CustomerId'].astype(str) + '|' + df['Date'].astype(str)
print(df['Unique'])

0      15634602|2023-01-01
1      15634602|2023-01-02
2      15634602|2023-01-03
3      15634602|2023-01-04
4      15737888|2023-01-05
              ...
448    15694860|2025-01-31
449    15658169|2025-01-31
450    15794396|2025-01-31
451    15785798|2025-01-31
452    15710825|2025-01-31
Name: Unique, Length: 453, dtype: object

In [50]:
#Creating an "Avg_Financials" Feature
df['Avg_Fin'] = df[['Salary', 'Balance', 'CreditScore']].mean(axis = 1)
print(df['Avg_Fin'])

0      33989.293333
1      33989.293333
2      90901.793333
3      90901.793333
4      68481.640000
           ...
448    69172.600000
449    84257.443333
450    71838.653333
451    40027.443333
452    51528.153333
Name: Avg_Fin, Length: 453, dtype: float64

In [52]:
#Mean Based on a Condition
#Average Financial Strength Only for High Credit Score Customers
'''df["Avg_HighCredit"] = df.apply(lambda x: x[["Balance", "Salary"]].mean() if x["CreditScore"] > 600 else 0, axis=1)
'''

df['Avg_HighCredit'] = df.apply(lambda x: x[['Salary', 'Balance']].mean() if x['CreditScore'] > 600 else 0, axis = 1)
print(df['Avg_HighCredit'])

0       50674.440
1       50674.440
2           0.000
3           0.000
4      102297.460
          ...
448    103421.400
449    125997.165
450         0.000
451     59616.165
452         0.000
Name: Avg_HighCredit, Length: 453, dtype: float64

In [1]:
#hint
'''✅ Single square brackets (x["Balance"]) → Selects one column (single value).
✅ Double square brackets (x[["Balance", "Salary"]]) → Selects multiple columns (subset of row).
✅ Necessary for .mean() when averaging multiple columns inside apply().'''

'✅ Single square brackets (x["Balance"]) → Selects one column (single value).\n✅ Double square brackets (x[["Balance", "Salary"]]) → Selects multiple columns (subset of row).\n✅ Necessary for .mean() when averaging multiple columns inside apply().'

In [2]:
#Mean with Custom Weighting
#If Balance is more important than Salary, we can give it a higher weight.

df['weighted_financial_scaore'] = df.apply(lambda x: (0.7 * x['Salary'] + 0.3 * x['Balance']), axis = 1)
print(df['weighted_financial_scaore'])

NameError: name 'df' is not defined

In [3]:
import pandas as pd
file_path = r"C:\Users\Sivaraman\Desktop\study\data analytics\Data (for practice)\bank_details_withdate.xlsx"
df = pd.read_excel(file_path)
print(df)

     CustomerId        Name  CreditScore  Country  Gender  Age  Tenure  \
0      15634602    Hargrave          619   France  Female   42       2
1      15634602    Hargrave          619   France  Female   42       2
2      15634602        Onio          502   France  Female   42       8
3      15634602        Onio          502   France  Female   42       8
4      15737888    Mitchell          850    Spain  Female   43       2
..          ...         ...          ...      ...     ...  ...     ...
448    15694860    Uspensky          675   France  Female   38       6
449    15658169        Cook          778    Spain  Female   47       6
450    15794396     Newbold          494  Germany  Female   38       7
451    15785798  Uchechukwu          850   France    Male   40       9
452    15710825       Ch'en          592    Spain    Male   31       7

       Balance  NumOfProducts     Salary       Date      Dep
0         0.00              1  101348.88 2023-01-01     Bank
1         0.00              1  101348.88 2023-01-02     Bank
2    159660.80              3  112542.58 2023-01-03     Bank
3    159660.80              3  112542.58 2023-01-04     Bank
4    125510.82              1   79084.10 2023-01-05     Bank
..         ...            ...        ...        ...      ...
448   68065.80              1  138777.00 2025-01-31  Entrepr
449  127299.34              2  124694.99 2025-01-31  Entrepr
450  174937.64              1   40084.32 2025-01-31  Entrepr
451       0.00              2  119232.33 2025-01-31  Entrepr
452  110071.10              1   43921.36 2025-01-31  Entrepr

[453 rows x 12 columns]

In [4]:
#Mean with Custom Weighting
#If Balance is more important than Salary, we can give it a higher weight.

df['weighted_financial_scaore'] = df.apply(lambda x: (0.7 * x['Salary'] + 0.3 * x['Balance']), axis = 1)
print(df['weighted_financial_scaore'])

0       70944.216
1       70944.216
2      126678.046
3      126678.046
4       93012.116
          ...
448    117563.640
449    125476.295
450     80540.316
451     83462.631
452     63766.282
Name: weighted_financial_scaore, Length: 453, dtype: float64

In [7]:
# Group-wise Mean for Feature Engineering
# Average Salary per Customer
df['Avg_sal_per_cus'] = df.groupby('CustomerId')['Salary'].transform('mean') # groupby is used for that mean is applied every each row
print(df[['Salary','Avg_sal_per_cus']])

        Salary  Avg_sal_per_cus
0    101348.88        106945.73
1    101348.88        106945.73
2    112542.58        106945.73
3    112542.58        106945.73
4     79084.10         79084.10
..         ...              ...
448  138777.00        138777.00
449  124694.99        124694.99
450   40084.32         40084.32
451  119232.33        119232.33
452   43921.36         43921.36

[453 rows x 2 columns]

In [14]:
# Rolling Mean (Moving Average)
# If analyzing trends over time, a moving average can be useful.
#df["Rolling_Avg_Salary"] = df["Salary"].rolling(window=2, min_periods=1).mean()

df['Rolling_avg_sal'] = df['Salary'].rolling(window = 2, min_periods = 1).mean()
print(df[['Salary', 'Rolling_avg_sal']])

        Salary  Rolling_avg_sal
0    101348.88       101348.880
1    101348.88       101348.880
2    112542.58       106945.730
3    112542.58       112542.580
4     79084.10        95813.340
..         ...              ...
448  138777.00       119605.415
449  124694.99       131735.995
450   40084.32        82389.655
451  119232.33        79658.325
452   43921.36        81576.845

[453 rows x 2 columns]

In [13]:
print(df.columns)

Index(['CustomerId', 'Name', 'CreditScore', 'Country', 'Gender', 'Age',
       'Tenure', 'Balance', 'NumOfProducts', 'Salary', 'Date', 'Dep',
       'weighted_financial_scaore', 'Avg_sal_per_cus', 'Rolling_avg_sal'],
      dtype='object')