In [38]:
# sample data set

import pandas as pd

data = {
    'Date': ['2025-01-01', '2025-01-01', '2025-01-02', '2025-01-02', '2025-01-03'],
    'Product': ['A', 'B', 'A', 'B', 'A'],
    'Region': ['East', 'West', 'East', 'West', 'East'],
    'Sales': [100, 150, 200, 120, 300],
    'Returns': [2, 3, 0, 1, 0]
}
df = pd.DataFrame(data)
print(df)

         Date Product Region  Sales  Returns
0  2025-01-01       A   East    100        2
1  2025-01-01       B   West    150        3
2  2025-01-02       A   East    200        0
3  2025-01-02       B   West    120        1
4  2025-01-03       A   East    300        0

In [2]:
print(df)

         Date Product Region  Sales  Returns
0  2025-01-01       A   East    100        2
1  2025-01-01       B   West    150        3
2  2025-01-02       A   East    200        0
3  2025-01-02       B   West    120        1
4  2025-01-03       A   East    300        0

In [17]:
#Rename Columns

df.rename(columns = {'Sales': 'Total_Sales'}, inplace = True) # inplace=True means that the operation modifies the original df directly.
print(df)

         Date Product Region  Total_Sales  Returns
0  2025-01-01       A   East          100        2
1  2025-01-01       B   West          150        3
2  2025-01-02       A   East          200        0
3  2025-01-02       B   West          120        1
4  2025-01-03       A   East          300        0

In [20]:
df.rename(columns = {'Total_sales' : 'Sales'}, inplace = True)
print(df)

         Date Product Region  Sales  Returns
0  2025-01-01       A   East    100        2
1  2025-01-01       B   West    150        3
2  2025-01-02       A   East    200        0
3  2025-01-02       B   West    120        1
4  2025-01-03       A   East    300        0

In [22]:
df.rename(columns = {'Region': 'Areas'}, inplace = True)
print(df)

         Date Product Areas  Sales  Returns
0  2025-01-01       A  East    100        2
1  2025-01-01       B  West    150        3
2  2025-01-02       A  East    200        0
3  2025-01-02       B  West    120        1
4  2025-01-03       A  East    300        0

In [23]:
df.rename(columns = {'Areas': 'Region'}, inplace = True)
print(df)

         Date Product Region  Sales  Returns
0  2025-01-01       A   East    100        2
1  2025-01-01       B   West    150        3
2  2025-01-02       A   East    200        0
3  2025-01-02       B   West    120        1
4  2025-01-03       A   East    300        0

In [24]:
#  Filter Rows Based on Condition
filtered = df[df['Sales'] > 150]
print(filtered)

         Date Product Region  Sales  Returns
2  2025-01-02       A   East    200        0
4  2025-01-03       A   East    300        0

In [26]:
filtered = df[df['Sales'] < 150].reset_index()
print(filtered)

   index        Date Product Region  Sales  Returns
0      0  2025-01-01       A   East    100        2
1      3  2025-01-02       B   West    120        1

In [28]:
filtered = df[df['Region'] == 'East']
print(filtered)

         Date Product Region  Sales  Returns
0  2025-01-01       A   East    100        2
2  2025-01-02       A   East    200        0
4  2025-01-03       A   East    300        0

In [29]:
print(df)

         Date Product Region  Sales  Returns
0  2025-01-01       A   East    100        2
1  2025-01-01       B   West    150        3
2  2025-01-02       A   East    200        0
3  2025-01-02       B   West    120        1
4  2025-01-03       A   East    300        0

In [31]:
net = df['Sales'] - (df['Returns']*10) # returns mean ex: customer is return the product might be that product is dameged.
print(net)

0     80
1    120
2    200
3    110
4    300
dtype: int64

In [34]:
# Conditional Transformation
#find higher performer
# sales_data['High_Performer'] = sales_data['Total_Sales'].apply(lambda x: 'Yes' if x > 150 else 'No')
higher_perf = df['Sales'].apply(lambda x: 'Yes' if x> 150 else 'No')
print(higher_perf)

0     No
1     No
2    Yes
3     No
4    Yes
Name: Sales, dtype: object

In [41]:
#Label Region-wise Performance
#If East region and Sales > 150, label as "Good" else "Average"
'''
df['Region_Performance'] = df.apply(
    lambda row: 'Good' if row['Region'] == 'East' and row['Sales'] > 150 else 'Average', axis=1)
'''
df['Region_Performance'] = df.apply(lambda row: 'Good' if row['Region'] == 'East' and row['Sales'] > 150 else 'Average', axis = 1) # Axis = 1 mean Row
print(df)

         Date Product Region  Sales  Returns Region_Performance
0  2025-01-01       A   East    100        2            Average
1  2025-01-01       B   West    150        3            Average
2  2025-01-02       A   East    200        0               Good
3  2025-01-02       B   West    120        1            Average
4  2025-01-03       A   East    300        0               Good

In [43]:
'''
âœ… 3. Return Category
Categorize returns:

0 = 'No Return'

1â€“2 = 'Low Return'

2 = 'High Return'
'''
'''
def return_category(x):
    if x == 0:
        return 'No Return'
    elif x <= 2:
        return 'Low Return'
    else:
        return 'High Return'

df['Return_Category'] = df['Returns'].apply(return_category)
'''

def return_category(x): # create the function and apply it,  #) Yes â€” x gets its value from the data, specifically from each row in the 'Returns' column.
    if x == 0:
        return 'No return'
    elif x <= 2 :
        return 'Low return'
    else:
        return 'High return'
df['Return_category'] = df['Returns'].apply(return_category)   
print(df)

         Date Product Region  Sales  Returns Region_Performance  \
0  2025-01-01       A   East    100        2            Average
1  2025-01-01       B   West    150        3            Average
2  2025-01-02       A   East    200        0               Good
3  2025-01-02       B   West    120        1            Average
4  2025-01-03       A   East    300        0               Good

  Return_category
0      Low return
1     High return
2       No return
3      Low return
4       No return

In [44]:
'''
âœ… 4. Net Sales with Conditional Penalty
Assume:

If Returns > 0: Deduct Returns * 10

Else: No deduction
'''

'''df['Net_Sales'] = df.apply(
    lambda row: row['Sales'] - (row['Returns'] * 10) if row['Returns'] > 0 else row['Sales'], axis=1)'''
df['Net_Sales'] = df.apply(lambda row: row['Sales'] - (row['Returns']* 10) if row['Returns'] > 0 else row['Sales'], axis = 1)
print(df)

         Date Product Region  Sales  Returns Region_Performance  \
0  2025-01-01       A   East    100        2            Average
1  2025-01-01       B   West    150        3            Average
2  2025-01-02       A   East    200        0               Good
3  2025-01-02       B   West    120        1            Average
4  2025-01-03       A   East    300        0               Good

  Return_category  Net_Sales
0      Low return         80
1     High return        120
2       No return        200
3      Low return        110
4       No return        300

In [47]:
#  Add a Bonus Column (Only for Product A with Sales > 150)

df['Add_Bonus'] = df.apply(lambda row: 20 if (row['Product'] == 'A') and (row['Sales']> 150) else 0, axis = 1)
print(df)

         Date Product Region  Sales  Returns Region_Performance  \
0  2025-01-01       A   East    100        2            Average
1  2025-01-01       B   West    150        3            Average
2  2025-01-02       A   East    200        0               Good
3  2025-01-02       B   West    120        1            Average
4  2025-01-03       A   East    300        0               Good

  Return_category  Net_Sales  Add_Bonus
0      Low return         80          0
1     High return        120          0
2       No return        200         20
3      Low return        110          0
4       No return        300         20

In [48]:
# Group By + Aggregation
'''grouped = sales_data.groupby('Product').agg({
    'Total_Sales': 'sum',
    'Returns': 'sum',
    'Net_Sales': 'mean'
}).reset_index()'''

grouped = df.groupby('Product').agg({'Sales': 'sum', 'Returns': 'sum', 'Net_Sales': 'mean'})
print(grouped)

         Sales  Returns   Net_Sales
Product
A          600        2  193.333333
B          270        4  115.000000

In [49]:
# pivot tables
'''pivot = sales_data.pivot_table(values='Total_Sales', index='Date', columns='Product', aggfunc='sum')
'''
print(df)

         Date Product Region  Sales  Returns Region_Performance  \
0  2025-01-01       A   East    100        2            Average
1  2025-01-01       B   West    150        3            Average
2  2025-01-02       A   East    200        0               Good
3  2025-01-02       B   West    120        1            Average
4  2025-01-03       A   East    300        0               Good

  Return_category  Net_Sales  Add_Bonus
0      Low return         80          0
1     High return        120          0
2       No return        200         20
3      Low return        110          0
4       No return        300         20

In [54]:
pivot = df.pivot_table(values = 'Sales', index = 'Date', columns ='Product', aggfunc = 'sum')
print(pivot)

Product         A      B
Date
2025-01-01  100.0  150.0
2025-01-02  200.0  120.0
2025-01-03  300.0    NaN

In [1]:

import pandas as pd

data = {
    'Date': ['2025-01-01', '2025-01-01', '2025-01-02', '2025-01-02', '2025-01-03'],
    'Product': ['A', 'B', 'A', 'B', 'A'],
    'Region': ['East', 'West', 'East', 'West', 'East'],
    'Sales': [100, 150, 200, 120, 300],
    'Returns': [2, 3, 0, 1, 0]
}
df = pd.DataFrame(data)
print(df)

         Date Product Region  Sales  Returns
0  2025-01-01       A   East    100        2
1  2025-01-01       B   West    150        3
2  2025-01-02       A   East    200        0
3  2025-01-02       B   West    120        1
4  2025-01-03       A   East    300        0

In [2]:
# ðŸ” Map / Replace Values
df['Region_Code'] = df['Region'].map({'East': 'E', 'West': 'W',})
print(df)

         Date Product Region  Sales  Returns Region_Code
0  2025-01-01       A   East    100        2           E
1  2025-01-01       B   West    150        3           W
2  2025-01-02       A   East    200        0           E
3  2025-01-02       B   West    120        1           W
4  2025-01-03       A   East    300        0           E

In [3]:
r
egion_info = pd.DataFrame({
    'Region': ['East', 'West'],
    'Manager': ['John', 'Sara']
})
print(region_info)

  Region Manager
0   East    John
1   West    Sara

In [4]:
merged = pd.merge(df, region_info,  on = 'Region', how = 'left')
#merged = pd.merge(sales_data, region_info, on='Region', how='left')
print(merged)

         Date Product Region  Sales  Returns Region_Code Manager
0  2025-01-01       A   East    100        2           E    John
1  2025-01-01       B   West    150        3           W    Sara
2  2025-01-02       A   East    200        0           E    John
3  2025-01-02       B   West    120        1           W    Sara
4  2025-01-03       A   East    300        0           E    John

In [8]:
# merged
import pandas as pd

# Sales data
sales_data = pd.DataFrame({
    'Region': ['East', 'West', 'South'],
    'Sales': [1000, 1500, 800]
})
print(sales_data)

print()
# Region info data
region_info = pd.DataFrame({
    'Region': ['East', 'West'],
    'Manager': ['John', 'Sara']
})

# Merge using LEFT JOIN
merged = pd.merge(sales_data, region_info, on='Region', how='left')
print(merged)

  Region  Sales
0   East   1000
1   West   1500
2  South    800

  Region  Sales Manager
0   East   1000    John
1   West   1500    Sara
2  South    800     NaN

In [7]:
print()

In [3]:
'''
ðŸ“Œ 7. Clean Column: Remove Special Characters
Use Case: Remove @ and # from product names.
'''
import pandas as pd

df = pd.DataFrame({'Product': ['@iPhone', '#Samsung', '@#Pixel']})



def clean_name(s):
    return s.replace('@','').replace('#','')
df['clean_name'] = df['Product'].apply(clean_name)
print(df)

    Product clean_name
0   @iPhone     iPhone
1  #Samsung    Samsung
2   @#Pixel      Pixel

In [5]:
'''Extract Domain from Email
Use Case: From email@example.com extract example.com'''

df = pd.DataFrame({'Email': ['john@gmail.com', 'sara@yahoo.com']}) # very easy method for extract
df['Domain'] = df['Email'].apply(lambda x: x.split('@')[1])
print(df)

            Email     Domain
0  john@gmail.com  gmail.com
1  sara@yahoo.com  yahoo.com

In [6]:
'''Flag High & Low Values
Use Case: Label prices as 'High' if above 100, else 'Low'.'''

df = pd.DataFrame({'Price': [50, 120, 90, 200]})

def lable(s):
    return 'High'if s>100 else 'Low'
df['lable'] = df['Price'].apply(lable)
print(df)

   Price lable
0     50   Low
1    120  High
2     90   Low
3    200  High

In [7]:
'''
 Cap or Limit a Value
Use Case: Set a max cap of 100 on score.
'''
df = pd.DataFrame({'Score': [110, 85, 99, 130]})
df['Capped_score'] = df['Score'].apply(lambda x: min(x, 100))
print(df)

   Score  Capped_score
0    110           100
1     85            85
2     99            99
3    130           100

In [10]:
'''
Convert Temperature (C to F)
Use Case: Convert Celsius to Fahrenheit.
'''
df = pd.DataFrame({'Temp_C': [0, 25, 30]})

def c_to_f(tem):
    return (tem * 9/5)+32

df['faren'] = df['Temp_C'].apply(c_to_f)
print(df)

   Temp_C  faren
0       0   32.0
1      25   77.0
2      30   86.0