In [2]:
import pandas as pd
file_path = r"C:\Users\Sivaraman\Desktop\study\data analytics\Data (for practice)\bank_details_withdate.xlsx"
df = pd.read_excel(file_path)
print(df)

     CustomerId        Name  CreditScore  Country  Gender  Age  Tenure  \
0      15634602    Hargrave          619   France  Female   42       2
1      15634602    Hargrave          619   France  Female   42       2
2      15634602        Onio          502   France  Female   42       8
3      15634602        Onio          502   France  Female   42       8
4      15737888    Mitchell          850    Spain  Female   43       2
..          ...         ...          ...      ...     ...  ...     ...
448    15694860    Uspensky          675   France  Female   38       6
449    15658169        Cook          778    Spain  Female   47       6
450    15794396     Newbold          494  Germany  Female   38       7
451    15785798  Uchechukwu          850   France    Male   40       9
452    15710825       Ch'en          592    Spain    Male   31       7

       Balance  NumOfProducts     Salary       Date      Dep
0         0.00              1  101348.88 2023-01-01     Bank
1         0.00              1  101348.88 2023-01-02     Bank
2    159660.80              3  112542.58 2023-01-03     Bank
3    159660.80              3  112542.58 2023-01-04     Bank
4    125510.82              1   79084.10 2023-01-05     Bank
..         ...            ...        ...        ...      ...
448   68065.80              1  138777.00 2025-01-31  Entrepr
449  127299.34              2  124694.99 2025-01-31  Entrepr
450  174937.64              1   40084.32 2025-01-31  Entrepr
451       0.00              2  119232.33 2025-01-31  Entrepr
452  110071.10              1   43921.36 2025-01-31  Entrepr

[453 rows x 12 columns]

In [4]:
'''pivot_df = df.pivot(index='CustomerId', columns='Date', values='Balance')
print(pivot_df)'''

pivot_df = df.pivot(index = 'CustomerId', columns = 'Date', values = 'Balance')
print(pivot_df)

Date        2023-01-01  2023-01-02  2023-01-03  2023-01-04  2023-01-05  \
CustomerId
15566111           NaN         NaN         NaN         NaN         NaN
15566594           NaN         NaN         NaN         NaN         NaN
15568240           NaN         NaN         NaN         NaN         NaN
15568748           NaN         NaN         NaN         NaN         NaN
15568982           NaN         NaN         NaN         NaN         NaN
...                ...         ...         ...         ...         ...
15812191           NaN         NaN         NaN         NaN         NaN
15812518           NaN         NaN         NaN         NaN         NaN
15812878           NaN         NaN         NaN         NaN         NaN
15813163           NaN         NaN         NaN         NaN         NaN
15813844           NaN         NaN         NaN         NaN         NaN

Date        2023-01-06  2023-01-07  2023-01-08  2023-01-09  2023-01-10  ...  \
CustomerId                                                              ...
15566111           NaN         NaN         NaN         NaN         NaN  ...
15566594           NaN         NaN         NaN         NaN         NaN  ...
15568240           NaN         NaN         NaN         NaN         NaN  ...
15568748           NaN         NaN         NaN         NaN         NaN  ...
15568982           NaN         NaN         NaN         NaN         NaN  ...
...                ...         ...         ...         ...         ...  ...
15812191           NaN         NaN         NaN         NaN         NaN  ...
15812518           NaN         NaN         NaN         NaN         NaN  ...
15812878           NaN         NaN         NaN         NaN         NaN  ...
15813163           NaN         NaN         NaN         NaN         NaN  ...
15813844           NaN         NaN         NaN         NaN         NaN  ...

Date        2025-01-22  2025-01-23  2025-01-24  2025-01-25  2025-01-26  \
CustomerId
15566111           NaN         NaN         NaN         NaN         NaN
15566594           NaN         NaN         NaN         NaN         NaN
15568240           NaN         NaN         NaN         NaN         NaN
15568748           NaN         NaN         NaN         NaN         NaN
15568982           NaN         NaN         NaN         NaN         NaN
...                ...         ...         ...         ...         ...
15812191           NaN         NaN         NaN         NaN         NaN
15812518           NaN         NaN         NaN         NaN         NaN
15812878           NaN         NaN         NaN         NaN         NaN
15813163           NaN         NaN         NaN         NaN         NaN
15813844           NaN         NaN         NaN         NaN         NaN

Date        2025-01-27  2025-01-28  2025-01-29  2025-01-30  2025-01-31
CustomerId
15566111           NaN         NaN         NaN         NaN         NaN
15566594           NaN         NaN         NaN         NaN         NaN
15568240           NaN         NaN         NaN         NaN         NaN
15568748           NaN         NaN         NaN         NaN         NaN
15568982           NaN         NaN         NaN         NaN         NaN
...                ...         ...         ...         ...         ...
15812191           NaN         NaN         NaN         NaN         NaN
15812518           NaN         NaN         NaN         NaN         NaN
15812878           NaN         NaN         NaN         NaN         NaN
15813163           NaN         NaN         NaN         NaN         NaN
15813844           NaN         NaN         NaN         NaN         NaN

[437 rows x 427 columns]

In [5]:
print(df['Date'].dtypes)

datetime64[ns]

In [6]:
#1️⃣ Pivot Table on a Single Column
#Find the average CreditScore for each Country
'''pivot1 = df.pivot_table(values="CreditScore", index="Country", aggfunc="mean")
print(pivot1)
'''
pivot1 = df.pivot_table(values ='CreditScore', index = 'Country', aggfunc = 'mean')
print(pivot1)

         CreditScore
Country
France    647.673367
Germany   648.076336
Spain     646.747967

In [7]:
#2️⃣ Multiple Aggregations in Pivot Table
#Find the average Salary and Balance per Country
'''pivot2 = df.pivot_table(values=["Salary", "Balance"], index="Country", aggfunc="mean")
print(pivot2)
'''
pivot2 = df.pivot_table(values = ['Salary', 'Balance'], index = 'Country', aggfunc = 'mean')
print(pivot2)

               Balance         Salary
Country
France    56104.252261   99156.221206
Germany  117872.832977  109465.909160
Spain     61225.397967  104636.270325

In [8]:
#3️⃣ Group by Multiple Columns
#Find the total Balance for each Country and Gender

pivot3 = df.pivot_table(index = ['Country', 'Gender'], values = 'Balance', aggfunc = 'sum')
print(pivot3)

                   Balance
Country Gender
France  Female  5018052.83
        Male    6146693.37
Germany Female  7131160.01
        Male    8310181.11
Spain   Female  3895961.88
        Male    3634762.07

In [10]:
#4️⃣ Using Columns Parameter
#Show Salary distribution across Country and Gender
'''pivot4 = df.pivot_table(values="Salary", index="Country", columns="Gender", aggfunc="mean")
print(pivot4)
'''
pivot4 = df.pivot_table(values = 'Salary', index = 'Country', columns = 'Gender', aggfunc = 'mean')
print(pivot4)

Gender          Female           Male
Country
France   106223.828851   93666.204554
Germany  114906.375667  104868.331831
Spain     98425.288305  110362.019375

In [11]:
#5️⃣ Pivot with Multiple Aggregations
#Find the mean and max Salary per Country
'''pivot5 = df.pivot_table(values="Salary", index="Country", aggfunc=["mean", "max"])
print(pivot5)
'''
pivot5 = df.pivot_table(index = 'Country', values = 'Salary', aggfunc =['min', 'max', 'mean'])
print(pivot5)

             min        max           mean
          Salary     Salary         Salary
Country
France    371.05  199638.56   99156.221206
Germany  2319.96  199725.39  109465.909160
Spain     417.41  199304.74  104636.270325

In [13]:
#6️⃣ Show Salary and Balance using NumOfProducts as Columns
'''pivot6 = df.pivot_table(values=["Salary", "Balance"], index="Country", columns="NumOfProducts", aggfunc="mean")
print(pivot6)
'''
pivot6 = df.pivot_table(columns = 'NumOfProducts', index = 'Country',values = ['Salary', 'Balance'])
print(pivot6)

                     Balance                                        \
NumOfProducts              1              2           3          4
Country
France          81048.214947   31458.441800   79830.400        NaN
Germany        115787.226714  120325.839815  117969.544  124396.09
Spain           97405.355500   28583.095254       0.000        NaN

                     Salary
NumOfProducts             1              2           3         4
Country
France         99589.577684   98636.931000  101846.260       NaN
Germany        99077.452143  125119.844259  100084.024  73860.37
Spain          95319.353667  110041.039153  164669.680       NaN

In [17]:
# Show Balance per Age and Country with NumOfProducts as Columns
'''pivot7 = df.pivot_table(values="Balance", index=["Age", "Country"], columns="NumOfProducts", aggfunc="sum")
print(pivot7)
'''
pivot7 = df.pivot_table(values = 'Balance', index = ['Age', 'Country'], columns = 'NumOfProducts', aggfunc = 'sum')
print(pivot7)

NumOfProducts          1          2   3   4
Age Country
19  Germany     75888.20        NaN NaN NaN
20  Germany          NaN  119714.25 NaN NaN
21  France      98373.26  340244.15 NaN NaN
    Spain      113157.22        NaN NaN NaN
22  France           NaN  174185.98 NaN NaN
...                  ...        ...  ..  ..
73  France      97259.25        NaN NaN NaN
75  Germany          NaN  106307.91 NaN NaN
    Spain            NaN       0.00 NaN NaN
79  France           NaN       0.00 NaN NaN
80  France           NaN       0.00 NaN NaN

[119 rows x 4 columns]

In [19]:
#8️⃣ Find the Balance Trend Over Time
'''pivot8 = df.pivot_table(values="Balance", index="Date", aggfunc="sum")
print(pivot8)
'''
pivot8 = df.pivot_table(index = 'Date', values = 'Balance', aggfunc = 'sum')
print(pivot8)

               Balance
Date
2023-01-01        0.00
2023-01-02        0.00
2023-01-03   159660.80
2023-01-04   159660.80
2023-01-05   125510.82
...                ...
2025-01-27   137946.39
2025-01-28   127892.57
2025-01-29   101084.36
2025-01-30   114754.08
2025-01-31  1581402.46

[427 rows x 1 columns]

In [24]:
#9️⃣ Adding Margins for Total
#Find the average Salary per Country and add a Total row
pivot9 = df.pivot_table(index = 'Country', values = 'Salary', aggfunc = 'mean', margins = True, margins_name = 'Total')
print(pivot9)

                Salary
Country
France    99156.221206
Germany  109465.909160
Spain    104636.270325
Total    103625.570353

In [28]:
#🔟 Pivot Table with Multiple Indexes and Columns
#Find Balance and Salary grouped by Country and Gender, split by NumOfProducts
'''pivot10 = df.pivot_table(values=["Balance", "Salary"], index=["Country", "Gender"], columns="NumOfProducts", aggfunc="sum")
print(pivot10)
'''
pivot10 = df.pivot_table(index = ['Country', 'Gender'], values = ['Salary', 'Balance'], columns = 'NumOfProducts', aggfunc = 'sum')
print(pivot10)

                   Balance                                        Salary  \
NumOfProducts            1           2          3          4           1
Country Gender
France  Female  2927119.55  1771611.68  319321.60        NaN  4507227.36
        Male    4772460.87  1374232.50        NaN        NaN  4953782.52
Germany Female  3782137.85  2861697.29  372278.13  115046.74  3452810.60
        Male    4322968.02  3635898.06  217569.59  133745.44  3482611.05
Spain   Female  3172504.50   723457.38       0.00        NaN  2923069.48
        Male    2671816.83   962945.24        NaN        NaN  2796091.74


NumOfProducts            2          3          4
Country Gender
France  Female  4326860.71  407385.04        NaN
        Male    5536832.39        NaN        NaN
Germany Female  2992745.15  329479.91  119346.88
        Male    3763726.44  170940.21   28373.86
Spain   Female  2225343.81  658678.72        NaN
        Male    4267077.50        NaN        NaN

In [29]:
# pivot_table() is completed then next pivot()

In [31]:
# create the new the data for practice pivot() function in data reshaping
import pandas as pd
Data = {"CustomerId": [15634602, 15634602, 15634602, 15737888, 15737888],
       "Name": ["Hargrave", "Hargrave", "Onio", "Mitchell", "Mitchell"],
       "CreditScore": [619, 619, 502, 850, 850],
       "Country": ["France", "France", "France", "Spain", "Spain"],
       "Gender": ["Female", "Female", "Female", "Female", "Female"],"Age": [42, 42, 42, 43, 43],
       "Tenure": [2, 2, 8, 2, 2],
       "Balance": [0, 0, 159660.8, 125510.82, 125510.82],
       "NumOfProducts": [1, 1, 3, 1, 1],
       "Salary": [101348.88, 101348.88, 112542.58, 79084.1, 79084.1],
       "Date": ["01-01-2023", "02-01-2023", "03-01-2023", "04-01-2023", "05-01-2023"],
    "Dep": ["Bank", "Bank", "Bank", "Bank", "Bank"]
       }
dfn = pd.DataFrame(Data)
print(dfn)

   CustomerId      Name  CreditScore Country  Gender  Age  Tenure    Balance  \
0    15634602  Hargrave          619  France  Female   42       2       0.00
1    15634602  Hargrave          619  France  Female   42       2       0.00
2    15634602      Onio          502  France  Female   42       8  159660.80
3    15737888  Mitchell          850   Spain  Female   43       2  125510.82
4    15737888  Mitchell          850   Spain  Female   43       2  125510.82

   NumOfProducts     Salary        Date   Dep
0              1  101348.88  01-01-2023  Bank
1              1  101348.88  02-01-2023  Bank
2              3  112542.58  03-01-2023  Bank
3              1   79084.10  04-01-2023  Bank
4              1   79084.10  05-01-2023  Bank

In [32]:
#pivot() characteristics
# 1) No Duplicate Index-Column Pairs
# 2)Columns Should Be Categorical, Categorcial mean:(could be categories like Red, Blue, Green, etc. These are categories, not numbers or continuous values.)
# 3)Values Should Be Meaningful
# 4)Missing Data Appears as NaN

In [36]:
# 1️⃣ Pivot: Reshape Data to Find Balance by CustomerId and Date
'''pivot1 = df.pivot(index="Date", columns="CustomerId", values="Balance")
print(pivot1)
'''
pivot1 = dfn.pivot(columns = ['CustomerId'],index = 'Date', values = 'Balance')
print(pivot1)

CustomerId  15634602   15737888
Date
01-01-2023       0.0        NaN
02-01-2023       0.0        NaN
03-01-2023  159660.8        NaN
04-01-2023       NaN  125510.82
05-01-2023       NaN  125510.82

In [43]:
#2️⃣ Pivot: Reshape Data to Find Salary by CustomerId and Gender
pivot2 = df.pivot(index="Gender", columns="CustomerId", values="Salary")
print(pivot2)

'''pivot2 = dfn.pivot(columns = 'Gender', index = 'CustomerId', values = 'Salary')
print(pivot2)'''
dfn = dfn.drop_duplicates()

ValueError: Index contains duplicate entries, cannot reshape

In [42]:
print(dfn)

   CustomerId      Name  CreditScore Country  Gender  Age  Tenure    Balance  \
0    15634602  Hargrave          619  France  Female   42       2       0.00
1    15634602  Hargrave          619  France  Female   42       2       0.00
2    15634602      Onio          502  France  Female   42       8  159660.80
3    15737888  Mitchell          850   Spain  Female   43       2  125510.82
4    15737888  Mitchell          850   Spain  Female   43       2  125510.82

   NumOfProducts     Salary        Date   Dep
0              1  101348.88  01-01-2023  Bank
1              1  101348.88  02-01-2023  Bank
2              3  112542.58  03-01-2023  Bank
3              1   79084.10  04-01-2023  Bank
4              1   79084.10  05-01-2023  Bank

In [44]:
import pandas as pd

# Create a DataFrame with unique data (no duplicates)
data = {
    'Country': ['India', 'USA', 'India', 'USA', 'Canada'],
    'Gender': ['Male', 'Female', 'Female', 'Male', 'Female'],
    'NumOfProducts': [1, 2, 1, 2, 3],
    'Balance': [5000, 6000, 7000, 8000, 9000],
    'Salary': [30000, 35000, 32000, 37000, 38000]
}

dfn = pd.DataFrame(data)

print(dfn)

  Country  Gender  NumOfProducts  Balance  Salary
0   India    Male              1     5000   30000
1     USA  Female              2     6000   35000
2   India  Female              1     7000   32000
3     USA    Male              2     8000   37000
4  Canada  Female              3     9000   38000

In [47]:
# 2️⃣ Pivot: Reshape Data to Find Salary by CustomerId and Gender
pivot1 = df.pivot(index = 'Gender', values = "Salary")
print(pivot1)

TypeError: DataFrame.pivot() missing 1 required keyword-only argument: 'columns'

In [49]:
dfn = df.copy()
print(dfn)
dfn = dfn['Name'].drop_duplicates()
print(dfn)

     CustomerId        Name  CreditScore  Country  Gender  Age  Tenure  \
0      15634602    Hargrave          619   France  Female   42       2
1      15634602    Hargrave          619   France  Female   42       2
2      15634602        Onio          502   France  Female   42       8
3      15634602        Onio          502   France  Female   42       8
4      15737888    Mitchell          850    Spain  Female   43       2
..          ...         ...          ...      ...     ...  ...     ...
448    15694860    Uspensky          675   France  Female   38       6
449    15658169        Cook          778    Spain  Female   47       6
450    15794396     Newbold          494  Germany  Female   38       7
451    15785798  Uchechukwu          850   France    Male   40       9
452    15710825       Ch'en          592    Spain    Male   31       7

       Balance  NumOfProducts     Salary       Date      Dep
0         0.00              1  101348.88 2023-01-01     Bank
1         0.00              1  101348.88 2023-01-02     Bank
2    159660.80              3  112542.58 2023-01-03     Bank
3    159660.80              3  112542.58 2023-01-04     Bank
4    125510.82              1   79084.10 2023-01-05     Bank
..         ...            ...        ...        ...      ...
448   68065.80              1  138777.00 2025-01-31  Entrepr
449  127299.34              2  124694.99 2025-01-31  Entrepr
450  174937.64              1   40084.32 2025-01-31  Entrepr
451       0.00              2  119232.33 2025-01-31  Entrepr
452  110071.10              1   43921.36 2025-01-31  Entrepr

[453 rows x 12 columns]
0        Hargrave
2            Onio
4        Mitchell
5             Chu
6        Bartlett
          ...
448      Uspensky
449          Cook
450       Newbold
451    Uchechukwu
452         Ch'en
Name: Name, Length: 375, dtype: object

In [53]:
print(dfn.dtypes)
print(dfn)

object
0        Hargrave
2            Onio
4        Mitchell
5             Chu
6        Bartlett
          ...
448      Uspensky
449          Cook
450       Newbold
451    Uchechukwu
452         Ch'en
Name: Name, Length: 375, dtype: object

In [54]:
pivot3 = df.pivot(index="Country", columns="Name", values="CreditScore")
print(pivot3)

ValueError: Index contains duplicate entries, cannot reshape

In [55]:
pivot7 = df.pivot(index="Name", columns="Dep", values="Salary")
print(pivot7)

ValueError: Index contains duplicate entries, cannot reshape

In [1]:
# pd.melt() (unpivot) it si very easy & this is helps to create the charts easily for visualization
# example

# uses ===> It converts wide data into long data — so you go from many columns to fewer columns and more rows. This is helpful for charts or grouped analysis.

''' 📊 Imagine this sample data (before melting):'''

'''
code: 
import pandas as pd

# Sample data (wide format)
sales_data = pd.DataFrame({
    'Date': ['2025-01-01', '2025-01-02'],
    'Product': ['A', 'B'],
    'Total_Sales': [100, 150],
    'Returns': [5, 8]
})

print(sales_data)

Output:


         Date Product  Total_Sales  Returns
0  2025-01-01       A          100        5
1  2025-01-02       B          150        8
'''

 # 🔄 Now melt it using pd.melt():
# code
'''
melted = pd.melt(sales_data, id_vars=['Date', 'Product'], value_vars=['Total_Sales', 'Returns'])
print(melted)
'''
# output
'''
         Date Product     variable  value
0  2025-01-01       A  Total_Sales    100
1  2025-01-02       B  Total_Sales    150
2  2025-01-01       A      Returns      5
3  2025-01-02       B      Returns      8
'''

'\n         Date Product     variable  value\n0  2025-01-01       A  Total_Sales    100\n1  2025-01-02       B  Total_Sales    150\n2  2025-01-01       A      Returns      5\n3  2025-01-02       B      Returns      8\n'

In [8]:
# 1)

import pandas as pd

df = pd.DataFrame({
    'Date': ['2025-01-01', '2025-01-02'],
    'product': ['A', 'B'],
    'Total_Sales': [100, 150],
    'Returns' : [5, 8]
})
print('Original data')
print(df)

# melted = pd.melt(sales_data, id_vars=['Date', 'Product'], value_vars=['Total_Sales', 'Returns'])
print()
print('After melted')


melted = pd.melt(df, id_vars = ['Date', 'product'], value_vars = ['Total_Sales', 'Returns'])
print(melted)

Original data
         Date product  Total_Sales  Returns
0  2025-01-01       A          100        5
1  2025-01-02       B          150        8

After melted
         Date product     variable  value
0  2025-01-01       A  Total_Sales    100
1  2025-01-02       B  Total_Sales    150
2  2025-01-01       A      Returns      5
3  2025-01-02       B      Returns      8

In [9]:
'''
🧠 Why melt?
This makes it easy to:

Plot charts (like bar plots grouped by metric)

Use groupby() on variable

Analyze trends in different metrics over time
'''

'\n🧠 Why melt?\nThis makes it easy to:\n\nPlot charts (like bar plots grouped by metric)\n\nUse groupby() on variable\n\nAnalyze trends in different metrics over time\n'

In [13]:
# Example 1: Student Scores
import pandas as pd

df = pd.DataFrame({
    'Student': ['Alice', 'Bob'],
    'Math': [90, 80],
    'Science': [85, 75]
})

print(df)
print()
print('After :')
melted = pd.melt(df, id_vars = ['Student'], value_vars = ['Math', 'Science'])
print(melted)

  Student  Math  Science
0   Alice    90       85
1     Bob    80       75

After
  Student variable  value
0   Alice     Math     90
1     Bob     Math     80
2   Alice  Science     85
3     Bob  Science     75

In [17]:
#  Example 2: Monthly Temperature Data
df = pd.DataFrame({
    'City': ['Chennai', 'Delhi'],
    'Jan': [30, 15],
    'Feb': [32, 18]
})

print(df)
print()
print('After :')

'''
melted_temp = pd.melt(temp_data, id_vars=['City'], value_vars=['Jan', 'Feb'], var_name='Month', value_name='Temperature')
print(melted_temp)

'''
melted = pd.melt(df, id_vars = ['City'], value_vars = ['Jan', 'Feb'], var_name = 'Month', value_name = 'Tem')
print(melted)

      City  Jan  Feb
0  Chennai   30   32
1    Delhi   15   18

After
      City Month  Tem
0  Chennai   Jan   30
1    Delhi   Jan   15
2  Chennai   Feb   32
3    Delhi   Feb   18

In [28]:
#  Example 3: Employee Salaries for Different Departments

import pandas as pd

df = pd.DataFrame({
    'Employee': ['John', 'Alice', 'Bob'],
    'IT_Salary': [5000, 4500, 5500],
    'HR_Salary': [4000, 3500, 3900],
    'Marketing_Salary': [3500, 3000, 3200]
})
print(df)
print()
print('After :')

melted = pd.melt(df, id_vars = ['Employee'], value_vars = ['IT_Salary', 'HR_Salary', 'Marketing_Salary'], var_name = 'Dep', value_name = 'Salary')
print(melted)

  Employee  IT_Salary  HR_Salary  Marketing_Salary
0     John       5000       4000              3500
1    Alice       4500       3500              3000
2      Bob       5500       3900              3200

After :
  Employee               Dep  Salary
0     John         IT_Salary    5000
1    Alice         IT_Salary    4500
2      Bob         IT_Salary    5500
3     John         HR_Salary    4000
4    Alice         HR_Salary    3500
5      Bob         HR_Salary    3900
6     John  Marketing_Salary    3500
7    Alice  Marketing_Salary    3000
8      Bob  Marketing_Salary    3200

In [30]:
#  Example 4: Product Sales Over Months
df = pd.DataFrame({
    'Product': ['A', 'B', 'C'],
    'Jan_Sales': [200, 150, 180],
    'Feb_Sales': [210, 160, 170],
    'Mar_Sales': [220, 170, 160]
})

print(df)
print()
print('After: ')

melted = pd.melt(df, id_vars = ['Product'], value_vars = ['Jan_Sales', 'Feb_Sales', 'Mar_Sales'], var_name = 'Monthly_sales', value_name = 'Sales')
print(melted)

  Product  Jan_Sales  Feb_Sales  Mar_Sales
0       A        200        210        220
1       B        150        160        170
2       C        180        170        160

After:
  Product Monthly_sales  Sales
0       A     Jan_Sales    200
1       B     Jan_Sales    150
2       C     Jan_Sales    180
3       A     Feb_Sales    210
4       B     Feb_Sales    160
5       C     Feb_Sales    170
6       A     Mar_Sales    220
7       B     Mar_Sales    170
8       C     Mar_Sales    160

In [37]:
#  Example 5: Temperature for Different Cities

df = pd.DataFrame({
    'City': ['New York', 'Los Angeles', 'Chicago'],
    'Morning_Temperature': [50, 60, 45],
    'Afternoon_Temperature': [70, 80, 65],
    'Evening_Temperature': [60, 70, 55]
})
print(df)
print()
print('After :')
melted = pd.melt(df, id_vars = ['City'], value_vars = ['Morning_Temperature', 'Afternoon_Temperature','Evening_Temperature'], 
                 var_name = 'Day_Time', value_name = 'Temp') # these are helps to easily create charts and analysis.
print('Actually pd.melt(Data Reshaping) is does increase row decrease column')
print()
print(melted)

          City  Morning_Temperature  Afternoon_Temperature  \
0     New York                   50                     70
1  Los Angeles                   60                     80
2      Chicago                   45                     65

   Evening_Temperature
0                   60
1                   70
2                   55

After :
Actually pd.melt(Data Reshaping) is does increase row decrease column

          City               Day_Time  Temp
0     New York    Morning_Temperature    50
1  Los Angeles    Morning_Temperature    60
2      Chicago    Morning_Temperature    45
3     New York  Afternoon_Temperature    70
4  Los Angeles  Afternoon_Temperature    80
5      Chicago  Afternoon_Temperature    65
6     New York    Evening_Temperature    60
7  Los Angeles    Evening_Temperature    70
8      Chicago    Evening_Temperature    55

In [39]:
#  Example 6: Sales for Multiple Products Over Different Days

df = pd.DataFrame({
    'Product': ['A', 'B', 'C'],
    '2025-04-01': [100, 150, 200],
    '2025-04-02': [110, 160, 190],
    '2025-04-03': [120, 170, 180]
})

print(df)
print()
print('After :')
print()
melted = pd.melt(df, id_vars = ['Product'], value_vars = ['2025-04-01', '2025-04-02', '2025-04-03' ], var_name = 'Date', value_name = 'Sales')
print(melted)

  Product  2025-04-01  2025-04-02  2025-04-03
0       A         100         110         120
1       B         150         160         170
2       C         200         190         180

After :

  Product        Date  Sales
0       A  2025-04-01    100
1       B  2025-04-01    150
2       C  2025-04-01    200
3       A  2025-04-02    110
4       B  2025-04-02    160
5       C  2025-04-02    190
6       A  2025-04-03    120
7       B  2025-04-03    170
8       C  2025-04-03    180