In [13]:
import pandas as pd

# Customers DataFrame
'''
customers = pd.DataFrame({
    'customer_id': [1, 2, 3, 4],
    'customer_name': ['Alice', 'Bob', 'Charlie', 'David']
})

# Orders DataFrame
orders = pd.DataFrame({
    'order_id': [101, 102, 103, 104, 105],
    'customer_id': [1, 2, 2, 4, 5],
    'product_id': [1001, 1002, 1003, 1001, 1002],
    'order_amount': [250, 450, 300, 150, 400]
})

# Products DataFrame
products = pd.DataFrame({
    'product_id': [1001, 1002, 1003],
    'product_name': ['Laptop', 'Smartphone', 'Tablet'],
    'price': [1000, 600, 400]
})'''
import pandas as pd

# Customers DataFrame
customers = pd.DataFrame({'Customer_Id': [1, 2, 3, 4],  # dataframe: 1
                         'Customer_Name': ['Alice', 'Bob', 'Charlie', 'David']})


# Orders DataFrame
orders = pd.DataFrame({'Orders_ID': [101, 102, 103, 104, 105], # dataframe: 2
                      'Customer_Id': [1, 2, 2, 4, 5],
                      'Product_Id': [1001, 1002, 1003, 1001, 1002],
                     'Order_Amount': [250, 450, 300, 150, 400]})

# Products DataFrame
products = pd.DataFrame({'Product_Id': [1001, 1002, 1003],
                        'Product_Name': ['Laptop', 'Smartphone', 'Tablet'],
                        'Price': [1000, 600, 400]})




print("Customers DataFrame") 
print(orders)
print()
print("Orders DataFrame")
print(customers)
print()
print('Products DataFrame')
print(products)

Customers DataFrame
   Orders_ID  Customer_Id  Product_Id  Order_Amount
0        101            1        1001           250
1        102            2        1002           450
2        103            2        1003           300
3        104            4        1001           150
4        105            5        1002           400

Orders DataFrame
   Customer_Id Customer_Name
0            1         Alice
1            2           Bob
2            3       Charlie
3            4         David

Products DataFrame
   Product_Id Product_Name  Price
0        1001       Laptop   1000
1        1002   Smartphone    600
2        1003       Tablet    400

In [17]:
# Example 1: Left Join (All Employees + Dept Info)

import pandas as pd

employees = pd.DataFrame({
    'emp_id': [101, 102, 103, 104],
    'emp_name': ['Alice', 'Bob', 'Charlie', 'David'],
    'dept_id': [1, 2, 1, 3]
})

departments = pd.DataFrame({
    'dept_id': [1, 2],
    'dept_name': ['HR', 'Finance']
})
print('emp_table :')
print(employees)
print()
print('dep_table:')
print(departments)

emp_table :
   emp_id emp_name  dept_id
0     101    Alice        1
1     102      Bob        2
2     103  Charlie        1
3     104    David        3

dep_table:
   dept_id dept_name
0        1        HR
1        2   Finance

In [18]:
# Left join: keep all employees
# emp_info = pd.merge(employees, departments, on='dept_id', how='left') 
#print(emp_info)

   emp_id emp_name  dept_id dept_name
0     101    Alice        1        HR
1     102      Bob        2   Finance
2     103  Charlie        1        HR
3     104    David        3       NaN

In [21]:
emp_info = pd.merge(employees, departments, on = 'dept_id', how = 'left')
print(emp_info)
'''
David‚Äôs department ID 3 doesn‚Äôt exist in departments ‚Üí dept_name = NaN.
'''

   emp_id emp_name  dept_id dept_name
0     101    Alice        1        HR
1     102      Bob        2   Finance
2     103  Charlie        1        HR
3     104    David        3       NaN

In [22]:
# Example 2: Right Join (All Departments + Employees)
emp_info1 = pd.merge(employees, departments, on = 'dept_id', how = 'right')
print(emp_info1)

'''
‚û°Ô∏è Only employees that matched dept 1 and 2.
(No David, because his dept isn‚Äôt in departments).
'''

   emp_id emp_name  dept_id dept_name
0     101    Alice        1        HR
1     103  Charlie        1        HR
2     102      Bob        2   Finance

In [24]:
# Example 3: Inner Join (Only Matching Orders & Customers)

orders = pd.DataFrame({
    'order_id': [201, 202, 203],
    'customer_id': [1, 2, 4],
    'amount': [500, 700, 300]
})

customers = pd.DataFrame({
    'customer_id': [1, 2, 3],
    'customer_name': ['Alice', 'Bob', 'Charlie']
})

print('orders_table')
print(orders)
print()
print('customers_table')
print(customers)

orders_table
   order_id  customer_id  amount
0       201            1     500
1       202            2     700
2       203            4     300

customers_table
   customer_id customer_name
0            1         Alice
1            2           Bob
2            3       Charlie

In [25]:
# Inner Join (Only Matching Orders & Customers)
order_info = pd.merge(orders, customers, on = 'customer_id', how = 'inner')
print(order_info)

# ‚û°Ô∏è customer_id=4 was dropped because it doesn‚Äôt exist in customers.

   order_id  customer_id  amount customer_name
0       201            1     500         Alice
1       202            2     700           Bob

In [26]:
# ‚ùìQuiz Time ‚Äî Pick the correct output

df1 = pd.DataFrame({
    'id': [1, 2, 3],
    'value1': ['A', 'B', 'C']
})

df2 = pd.DataFrame({
    'id': [2, 3, 4],
    'value2': ['X', 'Y', 'Z']
})

print(df1)
print()
print(df2)

   id value1
0   1      A
1   2      B
2   3      C

   id value2
0   2      X
1   3      Y
2   4      Z

In [31]:
# quiz

# customers table: 
customers = pd.DataFrame({
    'customer_id': [1, 2, 3],
    'customer_name': ['Alice', 'Bob', 'Charlie']
})

# products table:

products = pd.DataFrame({
    'product_id': [101, 102, 103],
    'product_name': ['Laptop', 'Phone', 'Tablet'],
    'price': [1000, 600, 400]
})

# ordrs table: 

orders = pd.DataFrame({
    'order_id': [201, 202, 203, 204],
    'customer_id': [1, 2, 1, 4],
    'product_id': [101, 102, 103, 101],
    'quantity': [1, 2, 1, 1]
})

print('customers_table :')
print(customers)
print()
print('products_table :')      
print(products)
print()
print('orders_tables :')
print(orders)

customers_table :
   customer_id customer_name
0            1         Alice
1            2           Bob
2            3       Charlie

products_table :
   product_id product_name  price
0         101       Laptop   1000
1         102        Phone    600
2         103       Tablet    400

orders_tables :
   order_id  customer_id  product_id  quantity
0       201            1         101         1
1       202            2         102         2
2       203            1         103         1
3       204            4         101         1

In [47]:
#üéØ Task:


# Use appropriate merge() functions to create a final order summary table that shows:
# like: order_id | customer_name | product_name | quantity | price | total_amount

# first merge customer and order table

merge1 = pd.merge(customers, orders, on = 'customer_id', how = 'right')

# next merge merge1 & products table
final_info = pd.merge(merge1, products, on = 'product_id', how = 'inner')

'''‚ùå Step 3: Fix this line üëá'''
# final_info['total_amount'] = final_info['price'].sum()
'''

# correct code
# Calculate total amount
final_info['total_amount'] = final_info['price'] * final_info['quantity']

'''
final_info['total_amount'] = final_info['quantity'] * final_info['price']


print(final_info[['order_id', 'customer_name', 'product_name', 'quantity', 'price', 'total_amount']])

   order_id customer_name product_name  quantity  price  total_amount
0       201         Alice       Laptop         1   1000          1000
1       202           Bob        Phone         2    600          1200
2       203         Alice       Tablet         1    400           400
3       204           NaN       Laptop         1   1000          1000

In [4]:

import pandas as pd
customers = pd.DataFrame({
    'customer_id': [1, 2, 3, 4],
    'customer_name': ['Alice', 'Bob', 'Charlie', 'David']
})

# Orders DataFrame
orders = pd.DataFrame({
    'order_id': [101, 102, 103, 104, 105],
    'customer_id': [1, 2, 2, 4, 5],
    'product_id': [1001, 1002, 1003, 1001, 1002],
    'order_amount': [250, 450, 300, 150, 400]
})

# Products DataFrame
products = pd.DataFrame({
    'product_id': [1001, 1002, 1003],
    'product_name': ['Laptop', 'Smartphone', 'Tablet'],
    'price': [1000, 600, 400]})

print('customers_table :')
print(customers)
print()
print('products_table :')      
print(products)
print()
print('orders_tables :')
print(orders)

customers_table :
   customer_id customer_name
0            1         Alice
1            2           Bob
2            3       Charlie
3            4         David

products_table :
   product_id product_name  price
0        1001       Laptop   1000
1        1002   Smartphone    600
2        1003       Tablet    400

orders_tables :
   order_id  customer_id  product_id  order_amount
0       101            1        1001           250
1       102            2        1002           450
2       103            2        1003           300
3       104            4        1001           150
4       105            5        1002           400

In [10]:
import pandas as pd

students = pd.DataFrame({
    'student_id': [1, 2, 3],
    'name': ['Riya', 'Arun', 'Sneha']
})

courses = pd.DataFrame({
    'student_id': [1, 3],
    'course': ['Python', 'Data Science']
})

print('Students: ')
print(students)
print()
print('courses:')
print(courses)

Students:
   student_id   name
0           1   Riya
1           2   Arun
2           3  Sneha

courses:
   student_id        course
0           1        Python
1           3  Data Science

In [12]:
# INNER JOIN

merge = pd.merge(students, courses, on = 'student_id', how = 'inner')
print(merge)

   student_id   name        course
0           1   Riya        Python
1           3  Sneha  Data Science

In [13]:
 # LEFT JOIN ‚Äì Practice in Pandas

authors = pd.DataFrame({
    'author_id': [1, 2, 3],
    'author_name': ['Kavita', 'Manoj', 'Rita']
})

books = pd.DataFrame({
    'author_id': [1, 2],
    'book_title': ['Magic of Mind', 'Code Smart']
})

result = pd.merge(authors, books, on = 'author_id', how = 'left')
print(result)

   author_id author_name     book_title
0          1      Kavita  Magic of Mind
1          2       Manoj     Code Smart
2          3        Rita            NaN

In [16]:
# FULL OUTER JOIN ‚Äì Practice in Pandas

teachers = pd.DataFrame({
    'teacher_id': [1, 2],
    'teacher_name': ['Neha', 'Ravi']
})

classes = pd.DataFrame({
    'teacher_id': [1, 3],
    'subject': ['Math', 'English']
})

result = pd.merge(teachers, classes, on = 'teacher_id', how = 'outer')
print(result)

   teacher_id teacher_name  subject
0           1         Neha     Math
1           2         Ravi      NaN
2           3          NaN  English

In [18]:

# Common Data for JOIN Practice

import pandas as pd

# üîπ Employees Table
employees = pd.DataFrame({
    'emp_id': [1, 2, 3, 4, 5, 6, 7],
    'emp_name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace'],
    'department': ['HR', 'IT', 'Finance', 'Marketing', 'IT', 'HR', 'Finance']
})

# üîπ Salaries Table
salaries = pd.DataFrame({
    'emp_id': [2, 3, 4, 6, 8],
    'salary': [60000, 70000, 80000, 65000, 75000]
})

print('employees :')
print(employees)
print()
print('salaries :')
print(salaries)

employees:
   emp_id emp_name department
0       1    Alice         HR
1       2      Bob         IT
2       3  Charlie    Finance
3       4    David  Marketing
4       5      Eve         IT
5       6    Frank         HR
6       7    Grace    Finance

salaries :
   emp_id  salary
0       2   60000
1       3   70000
2       4   80000
3       6   65000
4       8   75000

In [19]:
# INNER JOIN (inner join is show only which rows are all match)

merge = pd.merge(employees, salaries, on = 'emp_id', how = 'inner')
print(merge)

   emp_id emp_name department  salary
0       2      Bob         IT   60000
1       3  Charlie    Finance   70000
2       4    David  Marketing   80000
3       6    Frank         HR   65000

In [24]:
# 2Ô∏è‚É£ LEFT JOIN
merge1 = pd.merge(employees, salaries, on = 'emp_id', how = 'left')
print(merge1)

   emp_id emp_name department   salary
0       1    Alice         HR      NaN
1       2      Bob         IT  60000.0
2       3  Charlie    Finance  70000.0
3       4    David  Marketing  80000.0
4       5      Eve         IT      NaN
5       6    Frank         HR  65000.0
6       7    Grace    Finance      NaN

In [29]:
# 3Ô∏è‚É£ RIGHT JOIN

merge2 = pd.merge(employees, salaries, on = 'emp_id', how = 'right' )
print(merge2)

   emp_id emp_name department  salary
0       2      Bob         IT   60000
1       3  Charlie    Finance   70000
2       4    David  Marketing   80000
3       6    Frank         HR   65000
4       8      NaN        NaN   75000

In [30]:
#  FULL OUTER JOIN
merge = pd.merge(employees, salaries, on = 'emp_id', how = 'outer')
print(merge)

   emp_id emp_name department   salary
0       1    Alice         HR      NaN
1       2      Bob         IT  60000.0
2       3  Charlie    Finance  70000.0
3       4    David  Marketing  80000.0
4       5      Eve         IT      NaN
5       6    Frank         HR  65000.0
6       7    Grace    Finance      NaN
7       8      NaN        NaN  75000.0