In [13]:
import pandas as pd

df = pd.DataFrame({
    'Full_Name': ['John-Smith', 'Alice-Johnson', 'Bob-Lee']
})

In [14]:
print(df)

       Full_Name
0     John-Smith
1  Alice-Johnson
2        Bob-Lee

In [15]:
# Split Column by Delimiter (e.g., space, comma, hyphen)
# Use .str.split() to split text.

df[['First_name', 'Last_name']] = df['Full_Name'].str.split('-' , expand = True)
print(df)

       Full_Name First_name Last_name
0     John-Smith       John     Smith
1  Alice-Johnson      Alice   Johnson
2        Bob-Lee        Bob       Lee

In [16]:
df = pd.DataFrame({
    'Email': ['john@gmail.com', 'alice@yahoo.com', 'bob@outlook.com']
})
print(df)

             Email
0   john@gmail.com
1  alice@yahoo.com
2  bob@outlook.com

In [17]:
df['Domain'] = df['Email'].str.split('@').str[1]
print(df)

             Email       Domain
0   john@gmail.com    gmail.com
1  alice@yahoo.com    yahoo.com
2  bob@outlook.com  outlook.com

In [18]:
df = pd.DataFrame({
    'Location': ['USA-California-San Diego', 'India-Karnataka-Bangalore']
})

print(df)

                    Location
0   USA-California-San Diego
1  India-Karnataka-Bangalore

In [20]:
df[['Country', 'State', 'City']] = df['Location'].str.split('-', n = 2, expand = True)
print(df)

                    Location Country       State       City
0   USA-California-San Diego     USA  California  San Diego
1  India-Karnataka-Bangalore   India   Karnataka  Bangalore

In [25]:
df = pd.DataFrame({
    'ID': ['EMP001-USA', 'EMP002-IND', 'EMP003-UK']
})
print(df)

           ID
0  EMP001-USA
1  EMP002-IND
2   EMP003-UK

In [29]:
df[['Emp_ID', 'Country_Code']] = df['ID'].str.extract(r'(\w+)-(\w+)')
print(df)

'''
Metacharacters: These are special characters in regex that have a meaning beyond their literal form:

. — Matches any single character (except newline).

\d — Matches any digit (0-9).

\w — Matches any word character (letters, digits, or underscores).

\s — Matches any whitespace (space, tab, newline).

+ — Matches one or more of the previous character or group.
'''

           ID  Emp_ID Country_Code
0  EMP001-USA  EMP001          USA
1  EMP002-IND  EMP002          IND
2   EMP003-UK  EMP003           UK

In [39]:
# Split DateTime column

df = pd.DataFrame({'Timestamp': ['2025-04-12 10:30:00', '2025-04-11 14:45:00']})
print(df)

             Timestamp
0  2025-04-12 10:30:00
1  2025-04-11 14:45:00

In [41]:
df = pd.DataFrame({'Timestamp': ['2025-04-12 10:30:00', '2025-04-11 14:45:00']})
print(df)
df['Date'] = pd.to_datetime(df['Timestamp']).dt.date
df['Time'] = pd.to_datetime(df['Timestamp']).dt.time
print(df)

             Timestamp
0  2025-04-12 10:30:00
1  2025-04-11 14:45:00
             Timestamp        Date      Time
0  2025-04-12 10:30:00  2025-04-12  10:30:00
1  2025-04-11 14:45:00  2025-04-11  14:45:00